/*
 Theme Name:   Gigil Barkey
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Barkey version of Gigil theme
 Author:       Hallvard Kristiansen
 Author URI:   http://gigil.berlin
 Template:     gigil
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         two-columns, right-sidebar, responsive-layout
 Text Domain:  gigil-barkey
*/