/*
 Theme Name:   Gigil Xjazz
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Xjazz version of Gigil theme
 Author:       Hallvard Kristiansen
 Author URI:   http://gigil.berlin
 Template:     gigil
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         two-columns, right-sidebar, responsive-layout
 Text Domain:  gigil-xjazz
*/

body {
  font-family: 'Oxygen', sans-serif;
  color: #3F3F3F;
}

h1, h2, h3, h4, h5 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0;
}

.tb_margin_0em {
  margin-top: 0;
  margin-bottom: 0;
}
.tb_margin_2em {
  margin-top: 2em;
  margin-bottom: 2em;
}
.tb_margin_2pct {
  margin-top: 2%;
  margin-bottom: 2%;
}
.tb_margin_15px {
  margin-top: 15px;
  margin-bottom: 15px;
}
.t_margin_4em {
  margin-top: 4em;
}
.t_margin_neg_4em {
  margin-top: -4em;
}

.t_margin_2em {
  margin-top: 2em;
}
.t_margin_neg_2em {
  margin-top: -2em;
}
.b_margin_4em {
  margin-bottom: 4em;
}
.b_margin_2em {
  margin-bottom: 2em;
}

.t_padding_1em {
  padding-top: 1em;
}
.bottomPadding6pct {
  padding-bottom: 6%;
}
.noTopPadding {
  padding-top: 0 !important;
}
.noTopMargin {
  margin-top: 0 !important;
}
.noBottomPadding {
  padding-bottom: 0 !important;
}
.noBottomMargin {
  margin-bottom: 0 !important;
}
.noPadding {
  padding: 0 !important;
}

input, textarea {
  -webkit-appearance: none;
  border: 2px solid #3E3E3E;
  border-radius: 0;
  color: #3E3E3E;
  background: transparent;
  padding: 0.7em;
  margin-bottom: 1em;
  line-height: 1.2em;
}

a:link, a:visited {
  color: #282C2B;
  text-decoration: none;
  transition: all 300ms;
}
#footer a:link, #footer a:visited {
  color: white;
}
a:hover, a:active, #footer a:hover, #footer a:active {
  color: #DF614E;
  border-color: #DF614E;
}
a:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}
a.button, .filter-button-group button {
  border: none;
  padding: 0.5em 1.5em;
  color: white !important;
  background-color: #F20000;
  margin-bottom: 0.3em;
}
.filter-button-group button {
  font-size: 0.8em;
  border-radius: 5px;
}
.filter-button-group button.is-checked {
  background-color: #434953;
}
.filter-button-group.inverted button {
  background-color: #434953;
}
.filter-button-group.inverted button.is-checked {
  background-color: #F20000;
}


#search-field {
  margin: 0;
  padding: 0;
  background: #0F334F;
  color: white;
}
#search-field form {
  margin-bottom: 0;
}
#search-field label {
  float: left;
  display: block;
  clear: none;
  padding: 0.5em 0 0;
  color: white;
  font-weight: normal;
}
#search-field input {
  background: inherit;
  border: none;
  box-shadow: none;
  color: white;
  border-radius: 0;
  margin-bottom: 0;
  float: left;
  display: block;
  clear: none;
  width: 80%;
  padding: 0;
}
#search-field button {
  display: none;
}


#subsections {
  background-color: #434953;
}
#subsections ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#subsections ul li {
  float: left;
  clear: none;
}
#subsections ul li a {
  padding: 0.5em 1em;
  font-size: 0.8em;
  color: white;
}
#subsections a:hover, 
#subsections a:active, 
#subsections a.active, 
#subsections .current-menu-item > a, 
#subsections .current_page_item > a,
#subsections .current-menu-ancestor > a,
#subsections .current-menu-parent > a,
#subsections .current_page_parent > a,
#subsections .current_page_ancestor > a {
  background-color: #f2f2f5;
  color: #434953;
}


#header {
  margin: 2em 0;
}
#header .search {
  text-align: left;
}
.toggle_search {
  background: transparent url(grfx/icon_search.png) no-repeat left bottom;
  background-size: 32px;
  min-height: 2em;
  min-width: 2em;
  border: none;
  text-indent: -9999px;
  box-shadow: none;
  margin-top: 2.7em;
}
.toggle_search:hover {
  background: transparent url(grfx/icon_search.png) no-repeat left -4px;
  background-size: 32px;
}
.logo {
  padding: 0;
}
.logo .lg {
  max-height: 4.4em;
}
.logo .sm {
  margin: 1em auto;
  height: 1.4em;
}
.login {
  text-align: right;
}
.toggle_login {
  line-height: 2em;
  background: transparent url(grfx/icon_avatar.png) no-repeat left -34px;
  background-size: 32px;
  min-height: 2em;
  min-width: 2em;
  border: none;
  padding: 0 0 0 2.5em;
  box-shadow: none;
  text-transform: uppercase;
  position: relative;
  bottom: -2.9em;
  display: inline-block;
}
.toggle_login:hover {
  background: transparent url(grfx/icon_avatar.png) no-repeat left -2px;
  background-size: 32px;
  color: #DF614F;
}
.login .navbar-toggle {
  margin-right: 0px;
  padding-right: 0;
  border-radius: 0;
  box-shadow: none;
}
.login .navbar-toggle:hover, .login .navbar-toggle:focus {
  background: white;
  border: 1px solid white;
}
.login .navbar-toggle .icon-bar {
  background-color: #3E3E3E;
  border-radius: 0;
}
.login .navbar-toggle:hover .icon-bar {
  background-color: #DF614E;
}

nav {
  text-align: left;
}
.collapse.width {
  height: auto;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul.sub-menu {
  display: none;
  margin-bottom: 0;
}
nav ul li {
  display: inline-block;
  clear: none;
}
#navigation a {
  color: #3E3E3E;
  padding: 0.5em 0em 0.3em;
  margin: 0 0.5em;
  line-height: 1.5em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}
#navigation a:hover, 
#navigation a:active, 
#navigation a.active, 
#navigation .current-menu-item > a, 
#navigation .current_page_item > a,
#navigation .current-menu-ancestor > a,
#navigation .current-menu-parent > a,
#navigation .current_page_parent > a,
#navigation .current_page_ancestor > a {
  color: #f10000;
}
#navigation .secondary_navigation a:hover, 
#navigation .secondary_navigation a:active {
  color: #434953 !important;
}

nav .secondary_navigation .current-menu-item > a {
  color: #DF614F !important;
}

#google_map {
  height: 400px;
  border: 1em solid white;
}


.contact, .contact input, .contact textarea, .contact a:link, .contact a:visited {
  border-color: white;
  color: white;
}
.contact input, .contact textarea {
  width: 100%;
}
.contactinfo h2 {
  letter-spacing: 0.1em;
  font-size: 1.8em;
}
.contactinfo .divider {
  margin: 0 auto 1em;
  width: 30%;
}
.contact ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
}
.contact :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
}
.contact ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
  opacity: 1;
}
.contact :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}
.contact .content {
  text-align: left;
}
.contact .content form img {
  width: auto !important;
  height: auto !important;
}
.contact form input[type="submit"] {
  display: none;
}
.contact form div.wpcf7-validation-errors {
  display: none !important;
}
.contact form div.wpcf7-mail-sent-ok {
  border: none;
  margin: 0 0 0 8.33333333%;
  width: 41.66666667%;
  float: left;
}
.contact form span.wpcf7-not-valid-tip {
  color: #DF614D !important;
}
.contact textarea {
  resize: none;
}
.content {
  padding-top: 2em;
  padding-bottom: 2.5em;
}
.content h1 {
  margin-bottom: 0.5em;
}
.content p {
  text-align: justify;
}
.content img {
  width: 100%;
  height: auto;
}
.center, .center * {
  text-align: center !important;
}
.rightfloat {
  float: right;
}
.gridimg img, .greybox img {
  cursor: pointer;
}
.gridimg {
  line-height: 200px;  
  background: transparent;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.gridimg img {
  max-width: 80%;
  vertical-align: middle;
}
.grid {
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.grid .grid-item {
  padding-left: 1%;
  padding-right: 1%;
}

.block {
}
.block h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 0;
}
.block .inner {
  width: 100%;
  min-height: 400px;
  display: block;
  float: left;
  clear: both;
  background-color: white;
  position: relative;
}
.block .thumb {
  width: 100%;
  display: block;
  float: left;
  clear: both;
}
.block .thumb img {
  width: 100%;
  height: auto;
  display: block;
  float: left;
  clear: both;
}
.block .element-info {
  display: block;
  float: left;
  clear: both;
  padding: 1em 1em 4em 1em;
}
.block .element-info .button {
  float: left;
  margin-top: 1em;
}
.block .element-info .buttons {
  width: 100%;
  position: absolute;
  bottom: 1em;
  left: 0;
}
.block .element-info .buttons .button {
  font-size: 0.9em;
  text-align: center;
  width: 50%;
  display: block;
  clear: none;
  float: left;
}
.block .element-info .buttons .button.tickets {
  background-color: #434953;
}
.block .elemetn-info .button {
  
}

a.close {
  cursor: pointer;
  margin-top: 2em;
  margin-right: 1em;
  width: 36px;
  height: 36px;
  background: transparent url(grfx/icon_cross.png) no-repeat center bottom;
  background-size: 36px;
  text-indent: -9999px;
  opacity: 1;
}
a.close:hover {
  background: transparent url(grfx/icon_cross.png) no-repeat center 1px;
  background-size: 36px;
  opacity: 1;
}
.imagewrapper {
  width: 100%;
  max-height: 460px;
  overflow: hidden;
  position: relative;
}
.imagewrapper * {
  width: 100%;
  height: auto;
}
.imagewrapper .image_captions {
  position: absolute;
  bottom: 1em;
  left: 1em;
  z-index: 1;
  color: white;
}
.imagewrapper .image_captions h4 {
  font-weight: bold;
  font-size: 1em;
}
.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  overflow: hidden;
}
.videowrapper iframe,
.videowrapper object,
.videowrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-entry {
  background: white;
  margin-bottom: 2em;
  padding-bottom: 1em;
}
.blog-entry p {
  padding: 0 2em 1em;
}

.blog-footer {
  margin: 2em 0 0;
}
.blog-footer .tags {
  text-align: left;
  background: transparent url(grfx/icon_tag.png) no-repeat left -38px;
  background-size: 40px;
  padding: 1em 1em 1em 3em;
}
.blog-footer .social {
  padding: 1em 0 1em 1em;
}
.blog-footer .social img {
  text-align: right;
  float: right;
  max-height: 2em;
  margin-top: -0.3em;
  width: auto;
}

.container-fluid.carousel, .featured {
  overflow-y: hidden;
}
.owl-carousel .owl-item {
  z-index: 10000;  
}
.owl-carousel .owl-item img {
  height: auto;
}
.featured .owl-item  {
    display: block;
    width: 100%;
    height: auto;
}
.owl-carousel .owl-controls .owl-nav {
  position: relative;
}
.owl-carousel .owl-controls .owl-nav .owl-prev {
  left: 3%;
  border-left: 3px solid white;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.owl-carousel .owl-controls .owl-nav .owl-next {
  right: 3%;
  border-right: 3px solid white;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next {
  position: absolute;
  margin-top: -13%;
  background: transparent;
  border-bottom: 3px solid white;
  text-indent: -9999px;
  width: 2em;
  height: 2em;
  padding: 0;
  border-radius: 0;
  opacity: 0.8;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  border-color: gray;
  background: transparent;
}

.hover-toggle {
  position: relative;
}
.hover-toggle .hideonhover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
  z-index: 1;
}
.hover-toggle .hideonhover:hover {
  opacity: 0;
}

.post-nav {
  background: #E7E7E7;
  padding: 3em 0;
  font-size: 1.4em;
}
.post-nav a {
  color: #4B4A4A !important;
}
.post-nav a:hover {
  color: #DF6F5D !important;
}
.post-nav a:hover .arrow {
  border-color: #DF6F5D !important;
  background: transparent;
}

.post-nav .prevpost,
.post-nav .nextpost {
  display: block;
  line-height: 1.5em;
}
.post-nav .prevpost {
  text-align: left;
}
.post-nav .prevpost .arrow {
  margin-right: 1em;
}
.post-nav .nextpost {
  text-align: right;
}
.post-nav .nextpost .arrow {
  margin-left: 1em;
}


.post-nav .prevpost .arrow {
  float: left;
  border-left: 3px solid #4B4A4A;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.post-nav .nextpost .arrow {
  float: right;
  border-right: 3px solid #4B4A4A;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}
.post-nav .arrow {
  background: transparent;
  border-bottom: 3px solid #4B4A4A;
  text-indent: -9999px;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  border-radius: 0;
}

.banners {
  background-color: white;
  padding: 1em;
}
.banners .banner a {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.banners .banner img {
  width: 100%;
  height: auto;
  display: block;
  float: left;
  clear: both;
}
.banners .banner button {
  width: 100%;
  padding: 0;
  text-align: center;
  color: white;
  background-color: transparent;
  border: none;
}
.banners .banner button a {
  padding: 1em 0;
  background-color: #434953;
  color: white;
}
.banners .banner:hover button a, .banners .banner:active button a {
  background-color: white;
  color: #434953;
}

.newsletter {
  display: block;
  margin: 2em 0 0;
}
.newsletter input {
  width: 50%;
  margin-right: 1em;
}
.wpcf7-mail-sent-ok {
  border: none !important;
  color: green !important;
}


#footer {
  color: white;
  padding: 0 0;
}
#footer .container div {
  margin-bottom: 3em;
}
#footer h3 {
  letter-spacing: 0.1em;
  font-size: 2em;
  margin-bottom: 0.5em;
}
#footer .flagquote {
  font-style: italic;
}
#footer .flagquote .flag {
  margin: 1.7em 0 1em;
}
#footer .flagquote .socials {
  margin: 0.5em 0 1em;
}

#legal-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sharing {
  text-align: right;
  line-height: 30px;
}
.sharing .ssba {
  margin-left: 0.5em;
  float: right;
}

.social-navigation a:before, .ssba a:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: "Genericons";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}


.social-navigation {
	margin: 9.0909% 0;
}

.social-navigation ul {
	list-style: none;
	margin: 0 0 -1.6em 0;
	padding: 0;
}

.social-navigation li {
	float: left;
	margin: 0 0.7em 0.7em 0;
}

.social-navigation.social-sites {
  margin: 2em auto;
}

.social-navigation #menu-social-sites {
  display: inline-block !important;
}
.social-navigation #menu-social-sites a {
	border: 2px solid #3e3e3e;
}
.social-navigation #menu-social-sites a:hover, .social-navigation #menu-social-sites a:active {
	border: 2px solid #DF6F5D;
}

.social-navigation a {
	display: block;
	height: 37px;
	position: relative;
	width: 37px;
	border: 2px solid white;
	border-radius: 50px;
}

.ssba a {
	border: 2px solid #3E3E3E !important;
	border-radius: 50px;
	display: inline-block;
	height: 30px;
	width: 30px;
	position: relative;
	vertical-align: middle;
	margin: 0 0 0 0.3em;
}
.ssba a:hover, .ssba a:active {
	border: 2px solid #DF6F5D !important;
}
.ssba a img {
  display: none !important;
}


.social-navigation a:before {
	content: "\f415";
	font-size: 21px;
	position: absolute;
	top: 6px;
	left: 6px;
}
.ssba a:before {
	content: "\f415";
	font-size: 18px;
	position: absolute;
	top: 4px;
	left: 4px;
}

.social-navigation a[href*="codepen.io"]:before, .ssba a[href*="codepen.io"]:before {
	content: "\f216";
}

.social-navigation a[href*="digg.com"]:before, .ssba a[href*="digg.com"]:before {
	content: "\f221";
}

.social-navigation a[href*="dribbble.com"]:before, .ssba a[href*="dribbble.com"]:before {
	content: "\f201";
}

.social-navigation a[href*="dropbox.com"]:before, .ssba a[href*="dropbox.com"]:before {
	content: "\f225";
}

.social-navigation a[href*="facebook.com"]:before, .ssba a[href*="facebook.com"]:before {
	content: "\f204";
}

.social-navigation a[href*="flickr.com"]:before, .ssba a[href*="flickr.com"]:before {
	content: "\f211";
}

.social-navigation a[href*="foursquare.com"]:before, .ssba a[href*="foursquare.com"]:before {
	content: "\f226";
}

.social-navigation a[href*="plus.google.com"]:before, .ssba a[href*="plus.google.com"]:before {
	content: "\f206";
}

.social-navigation a[href*="github.com"]:before, .ssba a[href*="github.com"]:before {
	content: "\f200";
}

.social-navigation a[href*="instagram.com"]:before, .ssba a[href*="instagram.com"]:before {
	content: "\f215";
}

.social-navigation a[href*="linkedin.com"]:before, .ssba a[href*="linkedin.com"]:before {
	content: "\f207";
}

.social-navigation a[href*="pinterest.com"]:before, .ssba a[href*="pinterest.com"]:before {
	content: "\f210";
}

.social-navigation a[href*="getpocket.com"]:before, .ssba a[href*="getpocket.com"]:before {
	content: "\f224";
}

.social-navigation a[href*="polldaddy.com"]:before, .ssba a[href*="polldaddy.com"]:before {
	content: "\f217";
}

.social-navigation a[href*="reddit.com"]:before, .ssba a[href*="reddit.com"]:before {
	content: "\f222";
}

.social-navigation a[href*="stumbleupon.com"]:before, .ssba a[href*="stumbleupon.com"]:before {
	content: "\f223";
}

.social-navigation a[href*="tumblr.com"]:before, .ssba a[href*="tumblr.com"]:before {
	content: "\f214";
}

.social-navigation a[href*="twitter.com"]:before, .ssba a[href*="twitter.com"]:before {
	content: "\f202";
}

.social-navigation a[href*="vimeo.com"]:before, .ssba a[href*="vimeo.com"]:before {
	content: "\f212";
}

.social-navigation a[href*="wordpress.com"]:before,
.social-navigation a[href*="wordpress.org"]:before, .ssba a[href*="wordpress.com"]:before,
.social-navigation a[href*="wordpress.org"]:before {
	content: "\f205";
}

.social-navigation a[href*="youtube.com"]:before, .ssba a[href*="youtube.com"]:before {
	content: "\f213";
}

.social-navigation a[href*="mailto:"]:before, .ssba a[href*="mailto:"]:before {
	content: "\f410";
}

.social-navigation a[href*="spotify.com"]:before, .ssba a[href*="spotify.com"]:before {
	content: "\f515";
}

.social-navigation a[href*="twitch.tv"]:before, .ssba a[href*="twitch.tv"]:before {
	content: "\f516";
}

.social-navigation a[href$="/feed/"]:before, .ssba a[href$="/feed/"]:before {
	content: "\f413";
}

.social-navigation a[href*="path.com"]:before, .ssba a[href*="path.com"]:before {
	content: "\f219";
}

.social-navigation a[href*="skype.com"]:before, .ssba a[href*="skype.com"]:before {
	content: "\f220";
}

.subscribe_news {
  position: relative;
}

#scrolltotop {
  position: absolute;
  top: 1.9em;
  right: 2em;
  width: 2em;
  height: 52px;
  text-indent: -9999px;
  background: transparent url(grfx/icon_uparr.png) no-repeat center bottom;
  background-size: cover;
  z-index: 9;
}

#scrolltotop:hover {
  background: transparent url(grfx/icon_uparr.png) no-repeat center top;
  background-size: cover;
}


@media (max-width: 992px) {
  nav a {
    font-size: 0.8em;
  }
}
@media (max-width: 768px) {
} 
